body {
  background-color: #84DD63;
  font-family: 'Luckiest Guy', cursive;
}

.title {
  margin: 30px 0;
  text-align: center;
  letter-spacing: 3px;
  font-size: 38px;
  color: #FFFFFF;
}

.level-buttons {
  text-align: center;
}

.start {
  margin: 0 10px;
  padding: 8px;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 22px;
  font-weight: bold;
  background-color: #FFFFFF;
  color: #84DD63;
}

.start:hover {
  background-color: #4B2400;
  color: #FFFFFF;
}

.start:disabled {
  background-color: #013220;
  color: #84DD63;
}

.score-board {
  visibility: hidden;
  margin-top: 10px;
  text-align: center;
}

.score, .points {
  display: inline-block;
  margin: 0 auto;
  letter-spacing: 3px;
  font-size: 30px;
  color: #FFFFFF;
}

.times-up {
  visibility: hidden;
  margin-bottom: 8px;
  text-align: center;
  letter-spacing: 3px;
  font-size: 30px;
  color: #FFFFFF;
}

.game-text {
  padding: 15px 50px;
  text-align: center;
  letter-spacing: 3px;
  font-size: 20px;
  color: #013220;
}

.game-board {
  z-index: 1;
  width: 750px;
  height: 325px;
  margin: 0 auto;
  text-align: center;
  background-color: #84DD63;
}

.hole {
  z-index: 3;
  position: relative;
  display: inline-block;
  width: 150px;
  height: 135px;
  margin: 180px 10px 0;
  border-radius: 15px;
  background: #4B2400;
}

.mole {
  position: absolute;
  top: 0;
  width: 150px;
  height: 150px;
  opacity: 0;
  background-image:url('images/mole.png');
  background-size: 150px 150px;
  background-repeat: no-repeat;
  transition-duration: 0.1s;
}

.up {
  z-index: -1;
  position: absolute;
  top: -130px;
  width: 150px;
  height: 150px;
  background-image:url('images/mole.png');
  background-size: 150px 150px;
  background-repeat: no-repeat;
  transition-duration: 0.3s;
}
